{{define "base"}}
<!doctype html>
<html lang='en'>

<head>
  <meta charset='utf-8'>
  <title>{{template "title" .}} - Plants</title>
  <link rel='stylesheet' href='/static/css/main.css'>
  <link rel='shortcut icon' href='/static/img/favicon.ico' type='image/x-icon'>
  <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&display=swap'>
</head>

<body>
  <header>
    <h1><a href='/'>Plants</a></h1>
  </header>
  <nav>
    <div>
      <a href='/'>Home</a>
      {{if .IsAuthenticated}}
      <a href='/plant/create'>Add a plant</a>
      {{end}}
    </div>
    <div>
      {{if .IsAuthenticated}}
      <form action='/user/logout' method='POST'>
        <input type='hidden' name='csrf_token' value='{{.CSRFToken}}'>
        <button>Logout</button>
      </form>
      {{else}}
      <a href='/user/signup'>Signup</a>
      <a href='/user/login'>Login</a>
      {{end}}
    </div>
  </nav>
  <main>
    {{with .Flash}}
    <div class="flash">{{.}}</div>
    {{end}}
    {{template "main" .}}
  </main>
  {{template "footer" .}}
  <script src='/static/js/main.js'></script>
</body>

</html>
{{end}}
