{{template "base" .}}

{{define "title"}}New Plant{{end}}

{{define "main"}}
<form action='/plant/create' method='POST'>
  {{with .Form}}
  <div>
    <label>Name:</label>
    {{with .Errors.Get "name"}}
    <label class="error">{{.}}</label>
    {{end}}
    <input type='text' name='name' value='{{.Get "name"}}'>
  </div>
  <div>
    <input type='submit' value='Add plant'>
  </div>
  {{end}}
</form>
{{end}}
