{{template "base" .}}

{{define "title"}}New Plant{{end}}

{{define "main"}}
<form action='/plant/create' method='POST'>
  <div>
    <label>Name:</label>
    {{with .FormErrors.name}}
    <label class="error">{{.}}</label>
    {{end}}
    <input type='text' name='name' value='{{.FormData.Get "name"}}'>
  </div>
  <div>
    <input type='submit' value='Add plant'>
  </div>
</form>
{{end}}